{% extends 'base.html' %}
{% load static %}

{% block title %}
Job Search
{% endblock %}

{% block content %}
<head>
    <script>
        function displaySkills(select) {
            const userId = select.value;
            const url = `./fetch_skills/${userId}/`;

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    const skillsDiv = document.getElementById('skills');
                    skillsDiv.innerHTML = "<h2>Associated Skills:</h2>";

                    data.skills.forEach(skill => {
                        skillsDiv.innerHTML += `
                            <label>
                                <input type="checkbox" name="selected_skills" value="${skill}">
                                ${skill}
                            </label><br>
                        `;
                    });
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</head>
<body>
    <div id="wrapper">
        <h1>Job Search</h1>
        <h2>Search for a job using the skills you learned!</h2>
        <p>Please select a user then click the button below to load previous jobs or search for new jobs by selecting skills in the list that will appear below.</p>
        <div id="form-wrapper">
            <label for="global_user">Select User:</label>
            <select name="global_user" id="global_user" onchange="displaySkills(this)">
                <option value="" selected disabled>Select A User</option>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                {% endfor %}
            </select><br>
        </div>

        <div id="form-wrapper">
            <div id="job_search">
                <form action="{% url 'load_previous_jobs' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="p_user_id" id="p_user_id">
                    <button type="submit">Load Previous Jobs</button>
                </form><br><br>

                <form action="{% url 'confirm_job_search' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" id="user_id" >
                    <div id="skills"></div>
                    <button type="submit">Search Jobs</button>
                </form>
            </div>
        </div>
    </div>
</body>

<script>
    document.getElementById('global_user').addEventListener('change', function() {
        var global_user = this.value;
        document.getElementById('user_id').value = global_user;
        document.getElementById('p_user_id').value = global_user;
    });

    window.onload = function() {
    document.getElementById('job_search').style.display = 'none';

    document.getElementById('global_user').addEventListener('change', function() {
        if (this.value) {
            document.getElementById('job_search').style.display = 'block';
        } else {
            document.getElementById('job_search').style.display = 'none';
                }
            });
        };    
</script>
{% endblock %}
