{% extends 'base.html' %}
{% load static %}

{% block title %}
Job Search
{% endblock %}

{% block content %}
<head>
    <script>
        function displaySkills() {
            const userId = {{ user_info.id }};
            const url = `./fetch_skills/${userId}/`;

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    const skillsDiv = document.getElementById('skills');
                    skillsDiv.innerHTML = "<h2>Associated Skills:</h2>";

                    data.skills.forEach(skill => {
                        skillsDiv.innerHTML += `
                            <label>
                                <input type="checkbox" name="selected_skills" value="${skill}">
                                ${skill}
                            </label><br>
                        `;
                    });
                })
                .catch(error => console.error('Error:', error));
        }

        window.onload = function() {
            displaySkills();
        };
    </script>
</head>
<body>
    <div id="wrapper">
        <h1>Job Search</h1>
        <h2>Welcome, {{ user_info.first_name }}!</h2>
        <p>Start searching for jobs using the skills you've acquired or look at previous jobs you have found:</p>

        <div id="form-wrapper">
            <div id="job_search">
                <form action="{% url 'load_previous_jobs' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="p_user_id" id="p_user_id" value="{{ user_info.id }}">
                    <button type="submit">Load Previous Jobs</button>
                </form><br><br>

                <form action="{% url 'confirm_job_search' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" id="user_id" value="{{ user_info.id }}">
                    <div id="skills"></div>
                    <button type="submit">Search Jobs</button>
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}
