{% extends 'base.html' %}
{% load static %}

{% block title %}
    Course & Skill Search
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Course & Skill Search</title>
</head>
<body>
    <div id="wrapper">
        <h1>Course & Skill Search</h1>
        <h2>Welcome, {{ user_info.first_name }}!</h2>
        <p>Search for a course by prefix and number. For example, to search for SDEV 240, select "SDEV" from the dropdown menu and enter "240" in the text box.</p>
        <p>Fields marked with <span>*</span> are required.</p>
        <div id="form-wrapper">
            <form method="post" action="{% url 'search_course' %}" onsubmit="return validateForm()">
                {% csrf_token %}
                <input type="hidden" name="user" value="{{ user_info.id }}" required>
                <p>
                    <label for="prefix">Select Class Prefix<span>*</span></label>
                    <select name="prefix" id="prefix" required>
                        <option value="" selected disabled>Select A Prefix</option>
                        {% for prefix in prefixes %}
                            <option value="{{ prefix }}">{{ prefix }}</option>
                        {% endfor %}
                    </select>
                </p>
                <p>
                    <label for="class_number">Enter Class Number<span>*</span></label>
                    <input type="text" name="class_number" id="class_number" required>
                </p>
                <button type="submit">Search</button>
            </form>            
        </div>
    </div>
</body>

<script>
    function validateForm() {
        var classNumberField = document.getElementById("class_number");
        if (classNumberField.value.length < 3) {
            alert("Please enter at least 3 digits for the Class Number.");
            return false;
        }
        return true;
    }
</script>
</html>
{% endblock %}

