{% extends 'base.html' %}
{% load static %}

{% block title %}
    Confirmation Page
{% endblock %}

{% block content %}
<body>
    <h1>User Created</h1>
    <div id="wrapper">
        {% if user %}
            <p>Created user for {{ user.first_name }} {{ user.last_name }}. User ID is {{ user.id }}</p>
        {% else %}
            <p>No user information available.</p>
        {% endif %}
        <button onclick="window.location.href='{% url 'user_info_form' %}'">Return to Form</button>
    </div>
</body>
{% endblock %}