{% extends 'base.html' %}
{% load static %}

{% block title %}
Generated Resume
{% endblock %}


<html>
    <head>
        <link rel="stylesheet" href="{% static "css/GeneratedResume.css" %}}">
    </head>
    {% block content %}
    <body>
        <h3>User Info:</h3>

        <h3>Work Experience:</h3>
        {% for job in work_experience %}
            <p>{{job}}</p>
        {% endfor %}

        <h3>Education:</h3>
        {% for school in education %}
            <p>{{school}}</p>
        {% endfor %}

        <h3>Skills:</h3>
        {% for skill in user_skills %}
            <p>{{skill}}</p>
        {% endfor %}

    {% endblock %}

    </body>
</html>