{% extends 'base.html' %}
{% load static %}

{% block title %}
Resume Builder
{% endblock %}

{% block content %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'CSS/ResumeBuilder.css' %}">
    </head>

    <body>
        
        <h1>Welcome to the Resume Builder Portion!</h1>
        <h2>Take your time and develop a working portfolio</h2>
        <div id="wrapper">
            <!-- set global for whole page -->
            <div id="form-wrapper">

            <p>
                <label for="global_user">Select User:</label>
                <select name="global_user" id="global_user" >
                    <option value="" selected disabled>Select A User</option>
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <label for="global_category">Select Category:</label>
                <select name="global_category" id="global_category">
                    <option value="" selected disabled>Select A Category</option>
                        <option value="category_work">Enter Work History</option>
                        <option value="category_education">Enter Education</option>
                        <option value="category_resume">Generate Resume</option>
                </select>
            </p>
            </div><br>

        

            <div class='resumeFields'>
            
                <div id='workHistory'>
                    <h3>Work History</h3>
                    <div id="form-wrapper">
                        <!-- get user first, two forms -->
                        <form id="workHistoryForm" method="POST" action="{% url 'send_work_history' %}">{% csrf_token %}
                            <input type="hidden" name="cuser" id="cuser" >

                            <p>
                                <label for="cname">Company:</label><br>
                                <input type="text" id="cname" name="cname">
                            </p>
                            <p>
                                <label for="cadd">Address:</label><br>
                                <input type="text" id="cadd" name="cadd">
                            </p>
                            <p>
                                <label for="ccity">City:</label><br>
                                <input type="text" id="ccity" name="ccity">
                            </p>
                            <p>
                                <label for="cstate">State:</label><br>
                                <select id="cstate" name="cstate">
                                    <option value="" selected disabled>Select State</option>
                                    <option value="AL">Alabama</option>
                                    <option value="AK">Alaska</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="CA">California</option>
                                    <option value="CO">Colorado</option>
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="FL">Florida</option>
                                    <option value="GA">Georgia</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="ID">Idaho</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IN">Indiana</option>
                                    <option value="IA">Iowa</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="ME">Maine</option>
                                    <option value="MD">Maryland</option>
                                    <option value="MA">Massachusetts</option>
                                    <option value="MI">Michigan</option>
                                    <option value="MN">Minnesota</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MO">Missouri</option>
                                    <option value="MT">Montana</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NV">Nevada</option>
                                    <option value="NH">New Hampshire</option>
                                    <option value="NJ">New Jersey</option>
                                    <option value="NM">New Mexico</option>
                                    <option value="NY">New York</option>
                                    <option value="NC">North Carolina</option>
                                    <option value="ND">North Dakota</option>
                                    <option value="OH">Ohio</option>
                                    <option value="OK">Oklahoma</option>
                                    <option value="OR">Oregon</option>
                                    <option value="PA">Pennsylvania</option>
                                    <option value="RI">Rhode Island</option>
                                    <option value="SC">South Carolina</option>
                                    <option value="SD">South Dakota</option>
                                    <option value="TN">Tennessee</option>
                                    <option value="TX">Texas</option>
                                    <option value="UT">Utah</option>
                                    <option value="VT">Vermont</option>
                                    <option value="VA">Virginia</option>
                                    <option value="WA">Washington</option>
                                    <option value="WV">West Virginia</option>
                                    <option value="WI">Wisconsin</option>
                                    <option value="WY">Wyoming</option>
                                </select>
                            </p>
                            <p>
                                <label for="czip">Zip:</label>
                                <input type="text" id="czip" name="czip">
                            </p>
                            <p>
                                <label for="cphone">Phone:</label><br>
                                <input type="tel" id="cphone" name="cphone">
                            </p>
                            <p>
                                <label for="cstart">Start Date:</label>
                                <input type="date" id="cstart" name="cstart">
                            </p>
                            <p>
                                <label for="cend">End Date:</label>
                                <input type="date" id="cend" name="cend">
                            </p>
                            <input type="submit" id="submitOne" value="Submit">
                        </form>
                    </div>
                </div>

                <div id='education'>
                    <h3>Education</h3>

                    <div id="form-wrapper">
                        <form method='POST' action= "{% url 'send_education' %}"> {% csrf_token %}
                            <input type="hidden" name="suser" id="suser" >

                            <p>
                                <label for="sname">School:</label><br>
                                <input type="text" id="sname" name="sname"><br>
                            </p>
                            <p>
                                <label for="scity">City:</label><br>
                                <input type="text" id="scity" name="scity"><br>
                            </p>
                            <p>
                                <label for="sstate">State:</label><br>
                                <select id="sstate" name="sstate">
                                    <option value="" selected disabled>Select State</option>
                                    <option value="AL">Alabama</option>
                                    <option value="AK">Alaska</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="CA">California</option>
                                    <option value="CO">Colorado</option>
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="FL">Florida</option>
                                    <option value="GA">Georgia</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="ID">Idaho</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IN">Indiana</option>
                                    <option value="IA">Iowa</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="ME">Maine</option>
                                    <option value="MD">Maryland</option>
                                    <option value="MA">Massachusetts</option>
                                    <option value="MI">Michigan</option>
                                    <option value="MN">Minnesota</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MO">Missouri</option>
                                    <option value="MT">Montana</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NV">Nevada</option>
                                    <option value="NH">New Hampshire</option>
                                    <option value="NJ">New Jersey</option>
                                    <option value="NM">New Mexico</option>
                                    <option value="NY">New York</option>
                                    <option value="NC">North Carolina</option>
                                    <option value="ND">North Dakota</option>
                                    <option value="OH">Ohio</option>
                                    <option value="OK">Oklahoma</option>
                                    <option value="OR">Oregon</option>
                                    <option value="PA">Pennsylvania</option>
                                    <option value="RI">Rhode Island</option>
                                    <option value="SC">South Carolina</option>
                                    <option value="SD">South Dakota</option>
                                    <option value="TN">Tennessee</option>
                                    <option value="TX">Texas</option>
                                    <option value="UT">Utah</option>
                                    <option value="VT">Vermont</option>
                                    <option value="VA">Virginia</option>
                                    <option value="WA">Washington</option>
                                    <option value="WV">West Virginia</option>
                                    <option value="WI">Wisconsin</option>
                                    <option value="WY">Wyoming</option>
                                </select><br>
                            </p>
                            <p>
                                <label for="degree">Degree/Certification:</label><br>
                                <input type="text" id="degree" name="degree"><br>
                            </p>
                            <p>
                                <label for="sstart">Start Date:</label><br>
                                <input type="date" id="sstart" name="sstart"><br>
                            </p>
                            <p>
                                <label for="schoolend">End Date:</label><br>
                                <input type="date" id="schoolend" name="schoolend"><br>
                            </p>
                            <input type="submit" id="submitTwo" value="Submit">
                        </form>
                    </div>
                </div>

                <div id='generate_resume'>

                <h3>Generate Resume</h3>
                <form method="POST" action="{% url 'generated_resume' %}">
                    {% csrf_token %}
                    <input type="hidden" name="user" id="user">
                    <button type="submit" id="submitThree">Generate Resume</button>
                </form>
                </div>
            </div>
        </div>
       

        <script>

            document.getElementById('global_user').addEventListener('change', function() {
                var global_user = this.value;
                document.getElementById('user').value = global_user;
                document.getElementById('cuser').value = global_user;
                document.getElementById('suser').value = global_user;
            });

            // user must be selected before submitting forms
            window.onload = function() {
            // Hide the forms initially
            document.getElementById('workHistory').style.display = 'none';
            document.getElementById('education').style.display = 'none';
            document.getElementById('generate_resume').style.display = 'none';

            // Show the forms when a user is selected
            document.getElementById('global_category').addEventListener('change', function() {
                if (this.value == "category_work") {
                    document.getElementById('workHistory').style.display = 'block';
                    document.getElementById('education').style.display = 'none';
                    document.getElementById('generate_resume').style.display = 'none';
                } else if(this.value == "category_education"){
                    document.getElementById('workHistory').style.display = 'none';
                    document.getElementById('education').style.display = 'block';
                    document.getElementById('generate_resume').style.display = 'none';
                } else if(this.value == "category_resume"){
                    document.getElementById('workHistory').style.display = 'none';
                    document.getElementById('education').style.display = 'none';
                    document.getElementById('generate_resume').style.display = 'block';
                        } else {
                            document.getElementById('workHistory').style.display = 'none';
                            document.getElementById('education').style.display = 'none';
                            document.getElementById('generate_resume').style.display = 'none';
                        }
                    });
                };
            //form validation for global user
             
            // form validation for work history
            document.getElementById('workHistoryForm').addEventListener('submit', function(event) {
                var cname = document.getElementById('cname').value;
                var cadd = document.getElementById('cadd').value;
                var ccity = document.getElementById('ccity').value;
                var cstate = document.getElementById('cstate').value;
                var czip = document.getElementById('czip').value;
                var cphone = document.getElementById('cphone').value;
                var cstart = document.getElementById('cstart').value;
                var cend = document.getElementById('cend').value;

                if (!cname || !cadd || !ccity || !cstate || !czip || !cphone || !cstart || !cend) {
                    alert('All fields are required.');
                    event.preventDefault();  // prevent form from submitting
                }
            });

            // form validation for education
            document.getElementById('education').querySelector('form').addEventListener('submit', function(event) {
                var sname = document.getElementById('sname').value;
                var sstate = document.getElementById('sstate').value;
                var scity = document.getElementById('scity').value;
                var degree = document.getElementById('degree').value;
                var sstart = document.getElementById('sstart').value;
                var schoolend = document.getElementById('schoolend').value;

                if (!sname || !sstate || !scity || !degree || !sstart || !schoolend) {
                    alert('All fields are required.');
                    event.preventDefault();  // prevent form from submitting
                }
            });

            // form validation for generate_resume
            document.getElementById('generate_resume').querySelector('form').addEventListener('submit', function(event) {
                var resume_user_id = document.getElementById('user').value;
            
                if (resume_user_id == '') {
                    alert('Please Select a User.');
                    event.preventDefault();  // prevent form from submitting
                }
            });
        </script>

    </body>
</html>

{% endblock %}