{% extends 'base.html' %}
{% load static %}

{% block title %}
FQA
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .team-section,
        .overview-section {
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
    <h1>About Us</h1>
    <div id="wrapper">
        <div class="team-section">
            <h2>Our Team</h2>
            <p>Meet the dedicated individuals behind our project.</p>

            
            <div>
                <h3>Reed</h3>
                <p>Role: Project Manager</p>
            </div>

            <div>
                <h3>Tony</h3>
                <p>Role: Database and Software Engineer</p>
            </div>

            <div>
                <h3>Justin</h3>
                <p>Role: Software Developer</p>
            </div>

            <div>
                <h3>Jacob</h3>
                <p>Role: Testing Analyst</p>
            </div>
        </div>

        <div class="overview-section">
            <h2>Our Project</h2>
            <p>The Student Career Development System was created by our Team to allows students to create professional resumes as they transition from school life to work life.</p>
            <p>This system is designed to make it easy for the user to generate a ready to use resume by following and providing the system with their educational background and previous work history.</p>
            <p>We encourage our user to take advantage of the many different tools provided within our system to help them find the right career.</p>
        </div>
    </div>
</body>
</html>
{% endblock %}

