{% extends 'base.html' %}
{% load static %}

{% block title %}
Career Development System - Course Entry
{% endblock %}

{% block content %}
<style>
.image-container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
}

.image-container>div {
    margin: 10px;
    text-align: center;
}

        img {
            align-items: center;
            max-width: 400px;
            max-height: 400px;
            object-fit: cover;
            height: auto;
            margin: 0;
        }

.image-container div {
    position: relative;
    display: inline-block;
}

.image-container div img {
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
    height: 100vh;
    margin: 0;
    display: block;
    border: 1px solid black;
    border-radius: 5px;
}

.image-container div h3 {
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-shadow: -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    font-size: 60px;
    padding: 5px;
}

</style>
    <div id="wrapper">
        <h1>Student Career Development System</h1>
        <h2>We are here to make the next step easier!</h2>
        <p>Here you can find all the information you need to make the next step in your career. Whether you are looking for a new job, or you are looking to improve your skills, we are here to help.</p>

        <h3>Our Services</h3>
        <div class="image-container">
            {% for image in images %}
                <div>
                    <a href="{% url 'image_detail' image.id %}">
                        <img src="{{ image.image_url }}" alt="{{ image.description }}">
                    </a>
                    <div style="margin-top: 5px;">
                        <a href="{% url 'image_detail' image.id %}" class="image-link">
                            <h3 class="image-description">{{ image.description }}</h3>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <h3>User Profile</h3>
        <p>If you have not created a user profile, please do so before using any of the links above.</p>
        <button onclick="window.location.href='/newuser/'">Create a New User</button>

    </div>
{% endblock %}