{% extends 'base.html' %}
{% load static %}

{% block title %}
Career Development System - Course Entry
{% endblock %}

{% block content %}
    <h1>Welcome to the Student Career Development System</h1>
    <h2>We are here to make the next step easier!</h2>
    <div class="image-container">
        {% for image in images %}
            <div>
                <a href="{% url 'image_detail' image.id %}">
                    <img src="{{ image.image_url }}" alt="{{ image.description }}">
                </a>
                <div style="margin-top: 5px;">
                    <a href="{% url 'image_detail' image.id %}" class="image-link">
                        <h3 class="image-description">{{ image.description }}</h3>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}