/*  Styling for the ResumeBuilder App */

.resumeFields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="submit" i] {
    margin-bottom: 2em;
}

.container, .work-experience, .education, .skills {
    text-align: left;
    padding: 10px;
    margin: 10px 0;
}

div #education, div #workHistory, div #generate_resume {
    width: 100%;
}